// Variables
$family-sans-serif: 'Raleway', sans-serif;

// Colors
$background-color: #3B424D;
$text-color: #CCC;
$selection-color: #99A6B2;
$color-accent: white;
$text-shadow-color: $background-color;

// Variables
@import "variables";
@import "mixins";

html, body {
  font-family: $family-sans-serif;
}

body {
  background-color: $body-bg;
}

/* Globals */
.hidden {
  display: none !important;
}

.hidden-surround {
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.add-shadow {
  @include prefix((
          box-shadow: 0 4px 6px rgba(10, 10, 10, 0.2)
  ), webkit);
}

.add-shadow-2x {
  @include prefix((
          box-shadow: 0 8px 12px rgba(10, 10, 10, 0.3)
  ), webkit);
}

.square-corners {
  border-radius: 0;
}

@keyframes slide-in-from-bottom-50 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(50%) matrix(0.95, 0, 0, 0.95, 0, 80);
  }
  100% {
    opacity: 1;
    transform: translateY(0) matrix(1, 0, 0, 1, 0, 0);
  }
}

@keyframes slide-in-from-bottom-700 {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(700%) matrix(0.95, 0, 0, 0.95, 0, 80);
  }
  100% {
    opacity: 1;
    transform: translateY(0) matrix(1, 0, 0, 1, 0, 0);
  }
}

.drop-in-transition {
  animation: slide-in-from-bottom-50 400ms ease-out;
  transition: all 620ms cubic-bezier(0.26, 1.58, 0.7, 0.9);
  opacity: 1;
}

.drop-in-transition-delay2 {
  animation: slide-in-from-bottom-700 1s ease-out;
  transition: all 620ms cubic-bezier(0.26, 1.58, 0.7, 0.9);
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/* Advanced Search */
.search-advanced {
  padding: 20px 25px 35px;
}

.multiselect__tags-wrap .tag {
  margin-right: 8px;
  margin-bottom: 8px;
}

.house-footer {
  font-size: 13px;
  font-weight: 500;
  color: #828282;
  margin-left: 5px;
}

.subtitle.is-8 {
  font-size: 0.8rem;
}

.no-properties-index {
  font-size: 2rem;
  font-spacing: .3rem;
  font-weight: 100;
}

/* Equal Card Heights */
.card-equal-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-flow: column nowrap;
}
.card-equal-height .card-footer {
  margin-top: auto;
}

a.nav-item.is-tab {
  &:active,
  &:focus,
  &:hover {
    border-bottom-color: $nav-underline;
    color: $nav-underline;
  }

  &.is-active {
    border-bottom-color: $nav-underline;
    color: $nav-underline;
  }
}

.index-hero {
  background-color: #00d1b2;
  padding-top: 3.5rem !important;
  padding-bottom: 6rem;
}

.is-bottom-gradient {
  background-image: linear-gradient(to bottom, $hero-main-bg 0%, #00d1b2 75%, #fff 100%);
}

.index-search {
  p:first-of-type {
    width: 100%;
  }

  p input,
  p a {
    height: 50px;
  }
}

.search-advanced {

  label {
    color: #8a8a8a;
    font-size: 11px;
    font-weight: 400;
    margin-left: 5px;
  }

  .main-search,
  .main-search div {
    width: 100%;
  }

  .multiselect--active {
    z-index: 10;
  }

  .range-slider {
    margin-top: -3rem;

    .column {
      display: flex;
      justify-content: space-between;
    }

    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.card .image.is-3by2,
.card .image.is-16by9, {
  padding-top: 0;
}

.home-card .card > small {
  margin: 10px 10px 0;
}

.home-card .card-content {
  padding-top: 1rem;
}

.card .media-content p.title,
.card .media-content p.subtitle {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.index-subtitle {
  margin-top: 3rem;
}

.home-card .card-footer > .card-footer-item {
  border-right: 0;
}

.card-price {
  font-size: 1.3rem;
}

.favorite-icon {
  cursor: pointer;

  &:hover .fa-heart-o:before {
    content: '\f004';
  }
}

/* Properties */
.no-properties-list {
  font-size: 2rem;
  font-spacing: .3rem;
  font-weight: 100;
  margin: 5rem 0;
}

.navbar.property-nav {
  background-color: #00d1b2;
  color: #fff;

  a {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }

  .input.hidden-surround {
    border: 0;
    background-color: transparent;
    box-shadow: none;

    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      color: #fff;
    }
  }
}

.container.property-list {
  margin-bottom: 25px;
  margin-top: 25px;
}

// Pagination
.pagination {
  padding-bottom: 15px;

  &-previous {
    color: $pagination-outline;
    margin-left: 15px;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
    }
  }

  &-next {
    color: $pagination-outline;
    margin-right: 15px;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
    }
  }

  .pagination-link {
    color: $pagination-outline;

    &:active,
    &:focus,
    &:hover {
      border-color: #dbd;
      color: #000;
    }

    &.is-current {
      border-color: $pagination-fill;
      background-color: $pagination-fill;
      color: #fff;
    }
  }
}

.house {
  padding: 5rem 0;

  .house-titles {
    margin-bottom: 3rem;
  }

  .house-status {
    font-size: 1.3rem;
    font-weight: 200;
  }

  .card-header .price {
    width: 100%;
    padding: 1rem;
  }

  .card-content {
    font-size: 0.8rem;

    .item-title {
      font-weight: 600;
    }
  }

  .card-content hr {
    margin-top: -0.1rem;
  }

  figure.image.is-16by9 {
    height: 100%;
    width: 100%;

    #map {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.slider {
  max-height: 666px;
  height: 100%;
}

.selection-buttons {
  margin-top: -5rem;
  position: absolute;
  width: 100%;

  .not-active {
    opacity: 0.6;
  }
}

$circle-size: 40px;
$outside-circle-size: $circle-size + 10px;
$outside-circle-border: 2px;
$outside-circle-margin: ($outside-circle-size / 2) * -1;

.image-button{
  text-align: center;
  font-size: 20px;

  &:before{
    border-radius: $circle-size;
    border: $outside-circle-border solid #468cdc;
    box-shadow: 0 0 15px rgba(0, 255, 204, 0.15), 0 0 15px rgba(0, 255, 204, 0.15) inset;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: $outside-circle-size;
    width: $outside-circle-size;
    margin-left: $outside-circle-margin;
    margin-top: $outside-circle-margin;
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }

  &:hover:before{
    transform: scale(1.05);
  }

  &.circle{
    background: #23466e;
    border: none;
    border-radius: 900px;
    color: #e4ecfa;
    cursor: pointer;
    display: inline-block;
    width: $circle-size;
    height: $circle-size;
    line-height: $circle-size;
    position: relative;
    margin: auto;
    margin-top: 25px;
    margin-right: 15px;
    transition: 0.5s;

    &:hover {
      background: #3e70aa;
      padding: -2px;
    }
  }

  .fa {
    margin-top: -3px;
    vertical-align: middle;
  }
}

.card.contact-us-card {
  background-color: #00d1b2;

  .subtitle {
    font-size: 1rem;
    font-weight: 300;
  }

  .contact-us-bold {
    font-weight: 400;
  }

  .contact-us-light {
    font-weight: 200;
  }

  .card-content input,
  .card-content textarea {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #000;
    text-align: center;
    background: transparent;
    color: #000;
    resize: none;

    &:active,
    &:focus {
      outline: 0;
    }
  }

  .card-footer {
    background-color: darken(#00d1b2, 3%);
    border-top: 0;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(#00d1b2, 5%);
      cursor: pointer;
    }
  }
}

.affiliates .affiliate {
  border-radius: 7px;
  width: 200px;
}

.title {

  padding: 2rem 0;

  .new-bold {
    font-weight: 400;
  }

  .new-light {
    font-weight: 200;
  }
}

footer.site {
  background-color: #00d1b2;

  > .container {
    padding: 5rem 0 2rem 0;
  }

  .disclaimer {
    hr {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    span:not(:first-of-type) {
      font-size: 0.9rem;
    }

    .contact-number:not(:first-of-type) {
      margin-left: 25px;
    }
  }
}

.lower-footer {
  background-color: darken(#00d1b2, 3%);

  .container {
    padding: 1rem 0;
  }

  a {
    color: darken(#fff, 15%);
    font-size: 0.8rem;
    line-height: 1.5rem;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
    }
  }
}

.property-button {
  margin-bottom: 2rem;
  margin-top: .5rem;
}

.image {
  .delete {
    position: absolute;
    right: .3rem;
    top: .3rem;
  }
}

.uploaded-image.image {
  display: inline-block;
  margin-right: .2rem;
}

.docs-notification {
  margin: 2rem 0;
}

.company-info {
  h1,
  h2,
  span {
    display: block;
  }
}

a.tag.is-info {
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    background-color: darken(#209cee, 20%);
    cursor: pointer;
    text-decoration: none;
  }
}

.container.columns.docs {
  margin: 5rem;

  .accordion {
    *:focus {
      outline: none;
    }
  }
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .container.property-list {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .container > form {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .docs {
    .tab-item {
      margin: 1rem 1rem;
    }
  }

  footer.site > .container {
      padding: 5rem 1rem 2rem;
  }

  .lower-footer .container {
      padding: 1rem;
  }
}
